.hero-image {
    background-image: url("../images/banners/banner-home.png");
    height: 64vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    @include mobile{
      height: 95vh;
    }
  }
  .hero-content{
    display: flex;
    max-width: 1232px;
    width: 100%;
    height: auto;
    align-items: center;
    @include tablet{
      justify-content: center;
    }
    @include mobile{
      justify-content: center;
    }
  }
  .hero-text {
    text-align: left;
    color: white;
    margin-bottom: 80px;
    margin-left: 40px;
    @include tablet{
      width: 90%;
      text-align: center;
      margin-left: 0;
    }
    @include mobile{
        width: 90%;
        text-align: center;
        margin-left: 0;
    }
  }
  
  .hero-text a{
      color: #fff; 
  }
  .hero-text a button {
    border-radius: 25px 25px;
    outline: 0;
    display: inline-block;
    padding: 16px 32px 12px 32px;
    margin-top: 32px;
    background-color: $blue-cyan;
    font-family: Montserrat-Light;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 8px;
    @include mobile{
      margin-top: 24px;
      font-weight: normal;
      letter-spacing: 7px;
    }
  }
  .hero-text button:hover{
    background-color: $blue-cyan;
  }
  .hero-title-blue{
      font-size: 98px;
      color: $blue;
      font-weight: bold;
      font-family: 'Lato-Light';
      letter-spacing: 8px;
      line-height: .8;
      margin-bottom: 0;
      @include tablet{
        font-size: 82px;
        letter-spacing: 1px;
        margin-bottom: 16px;
      }
      @include mobile{
        font-size: 30px;
        letter-spacing: 1px;
      }
  }
  .hero-title-red{
      font-size: 98px;
      color: $red;
      font-weight: bold;
      font-family: 'Lato-Light';
      letter-spacing: 8px;
      line-height: 1;
      margin-bottom: 0;
      @include tablet{
        font-size: 82px;
        letter-spacing: 1px;
        margin-bottom: 16px;
        line-height: 1;
      }
      @include mobile{
        font-size: 30px;
        letter-spacing: 1px;
      }
  }
  .hero-p{
      letter-spacing: 0px;
      font-size: 22px;
      margin-top: 16px;
      @include tablet{
        font-size: 22px;
        margin-top: 32px;
      }
      @include mobile{
        margin-top: 24px;
      }
  }
  .img-heart{
    position: absolute;
    bottom: -67%;
    right: -15%;
    width: 54%;
    z-index: 3;
    @include ipadPro{
      display: none;
    }
    @include tablet{
      display: none;
    }
    @include mobile{
      display: none;
    }
  }

  //anuncio de telefonos
  .hero-aviso{
    width: 100%;
    background-color: $red;
    height: auto;
    position: absolute;
    bottom: 0;
    z-index: 5;
    display: flex;
    justify-content: center;

    .aviso-content{
        max-width: 1232px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-items: center;
        margin: 8px 0;
        
        .llamanosTxt{
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            width: 80%;
            font-family: Montserrat-Light;
            letter-spacing: 3px;
            margin-left: 80px;
            @include mobile{
                width: 60%;
                margin-left: 8px;
            }
    
            img{
                margin-right: 24px;
                @include mobile {
                    display: none;
                }
            }
        }
    
        .alertIcon{
            margin: 0;
        }
        a{
            margin: 0;
            font-size: 16px;
            color: $color-inverse;
    
            @include mobile{
                font-size: 10px;
            }
        }
    
        .closeIcon{
            margin: 0;
            cursor: pointer;
            z-index: 5;
            @include tablet{
                margin-right: 24px;
            }
    
            @include mobile{
                width: 34px;
                height: auto;
            }
        }
    }
}

.close{
    opacity: 0;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 750ms ease-in-out;
}